<div style="text-align:center">
  <a routerLink="/productos">Productos</a>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
<div>
  <hr>
  <h1 class="text-center text-monospace text-muted">Administración de artículos</h1>
  <div class="container">
    <table class="table table-striped" *ngIf="hayRegistros(); else sinproductos">
      <thead>
        <tr>
          <th scope="col">Codigo</th>
          <th scope="col">Nombre</th>
          <th scope="col">Precio</th>
          <th scope="col">Imagen</th>
          <th scope="col">Borrar</th>
          <th scope="col">Seleccionar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let producto of lista">
          <td scope="row">{{producto.id}}</td>
          <td>{{producto.nombre}}</td>
          <td>{{producto.precio}}</td>
          <td> <img class="img-fluid" style="height: 150px; width: 150px;"
              src="http://localhost:3000/productos/imagenes/{{producto.imagen}}" alt="{{producto.name}}"></td>
          <td><button class="btn btn-danger" (click)="eliminar(producto.id)">Borrar?</button></td>
          <td><button class="btn btn-info" (click)="mostrar(producto.id)">Seleccionar</button></td>
        </tr>
      </tbody>
    </table>
    <ng-template #sinproductos>
      <p>No hay productos</p>
    </ng-template>
  </div>
  <div class="container">
    <hr>
    <h1 class="text-center text-monospace text-muted">Datos</h1>
    <div class="row justify-content-center">
      <div class="col-8">
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input class="form-control" type="text" [(ngModel)]="prod.nombre" id="descripcion" />
        </div>
        <div class="form-group">
          <label for="precio">Precio</label>
          <input type="number" class="form-control" [(ngModel)]="prod.precio" id="precio" />
        </div>
        <div class="form-group">
          <label for="imagen">Imagen</label>
          <input type="file" class="form-control" [(ngModel)]="prod.imagen" id="precio" />
        </div>
        <div class="form-group text-center">
          <button type="button" class="btn btn-success mx-2" (click)="nuevo()">Agregar</button>
          <button type="button" class="btn btn-primary mx-2" (click)="actualizar()">Modificar</button>
        </div>
      </div>
    </div>
  </div>
</div>
